################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SuperHeroAPIDotNet7/v17/.suo
*.v2
*.vsidx
*.bin
/.vs/SuperHeroAPIDotNet7/FileContentIndex/b12ad867-2e04-4add-82c6-871aa6b0e478.vsidx
/.vs/SuperHeroAPIDotNet7/FileContentIndex/c3530b79-d93a-42a1-8f30-cab6f6a69f32.vsidx
/.vs/SuperHeroAPIDotNet7/FileContentIndex/b12ad867-2e04-4add-82c6-871aa6b0e478.vsidx
/.vs/SuperHeroAPIDotNet7/FileContentIndex/c3530b79-d93a-42a1-8f30-cab6f6a69f32.vsidx
/SuperHeroAPIDotNet7/bin/Debug/net7.0/SuperHeroAPIDotNet7.dll
/SuperHeroAPIDotNet7/bin/Debug/net7.0/SuperHeroAPIDotNet7.pdb
/SuperHeroAPIDotNet7/obj/Debug/net7.0/ref/SuperHeroAPIDotNet7.dll
/SuperHeroAPIDotNet7/obj/Debug/net7.0/refint/SuperHeroAPIDotNet7.dll
/SuperHeroAPIDotNet7/obj/Debug/net7.0/SuperHeroAPIDotNet7.csproj.CoreCompileInputs.cache
/SuperHeroAPIDotNet7/obj/Debug/net7.0/SuperHeroAPIDotNet7.dll
/SuperHeroAPIDotNet7/obj/Debug/net7.0/SuperHeroAPIDotNet7.pdb
/v2
/vsidx
/bin
/.v2
/.vsidx
/SuperHeroAPIDotNet7/
/.vs/SuperHeroAPIDotNet7/DesignTimeBuild/.dtbcache.v2
/.vs/SuperHeroAPIDotNet7/
/SuperHeroAPIDotNet7/obj/Debug/net7.0/SuperHeroAPIDotNet7.assets.cache
/SuperHeroAPIDotNet7/obj/Debug/net7.0/SuperHeroAPIDotNet7.csproj.AssemblyReference.cache
/SuperHeroAPIDotNet7/obj/project.assets.json
/SuperHeroAPIDotNet7/obj/project.nuget.cache
/SuperHeroAPIDotNet7/obj/SuperHeroAPIDotNet7.csproj.nuget.dgspec.json
/SuperHeroAPIDotNet7/obj/SuperHeroAPIDotNet7.csproj.nuget.g.props
/SuperHeroAPIDotNet7/obj/SuperHeroAPIDotNet7.csproj.nuget.g.targets
/.vs/SuperHeroAPIDotNet7/FileContentIndex/0b50c6ce-e9dd-4194-8f8b-58006d752a18.vsidx
/.vs/SuperHeroAPIDotNet7/FileContentIndex/3c184bc9-bb88-4bc2-803a-d98b55cf1748.vsidx
/SuperHeroAPIDotNet7/bin/Debug/net7.0/appsettings.json
/SuperHeroAPIDotNet7/bin/Debug/net7.0/SuperHeroAPIDotNet7.runtimeconfig.json
/SuperHeroAPIDotNet7/bin/Debug/net7.0/SuperHeroAPIDotNet7.deps.json
/SuperHeroAPIDotNet7/obj/Debug/net7.0/SuperHeroAPIDotNet7.csproj.FileListAbsolute.txt
/SuperHeroAPIDotNet7/obj/Debug/net7.0/SuperHeroAPIDotNet7.MvcApplicationPartsAssemblyInfo.cs
/SuperHeroAPIDotNet7/obj/Debug/net7.0/SuperHeroAPIDotNet7.genruntimeconfig.cache
