################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SuperHeroAPIDotNet7/v17/.suo
*.v2
*.vsidx
*.bin
/.vs/SuperHeroAPIDotNet7/FileContentIndex/b12ad867-2e04-4add-82c6-871aa6b0e478.vsidx
/.vs/SuperHeroAPIDotNet7/FileContentIndex/c3530b79-d93a-42a1-8f30-cab6f6a69f32.vsidx
/.vs/SuperHeroAPIDotNet7/FileContentIndex/b12ad867-2e04-4add-82c6-871aa6b0e478.vsidx
/.vs/SuperHeroAPIDotNet7/FileContentIndex/c3530b79-d93a-42a1-8f30-cab6f6a69f32.vsidx
/SuperHeroAPIDotNet7/bin/Debug/net7.0/SuperHeroAPIDotNet7.dll
/SuperHeroAPIDotNet7/bin/Debug/net7.0/SuperHeroAPIDotNet7.pdb
/SuperHeroAPIDotNet7/obj/Debug/net7.0/ref/SuperHeroAPIDotNet7.dll
/SuperHeroAPIDotNet7/obj/Debug/net7.0/refint/SuperHeroAPIDotNet7.dll
/SuperHeroAPIDotNet7/obj/Debug/net7.0/SuperHeroAPIDotNet7.csproj.CoreCompileInputs.cache
/SuperHeroAPIDotNet7/obj/Debug/net7.0/SuperHeroAPIDotNet7.dll
/SuperHeroAPIDotNet7/obj/Debug/net7.0/SuperHeroAPIDotNet7.pdb
/v2
/vsidx
/bin
/.v2
/.vsidx
/.bin