################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SuperHeroAPIDotNet7/v17/.suo
*.v2
*.vsidx
*.bin
